POSTGRESQL_HOST=18.212.49.148
POSTGRESQL_PORT=5433
POSTGRESQL_USERNAME=root
POSTGRESQL_PASSWORD=root
POSTGRESQL_DATABASE=dolphinscheduler

# For local Docker Postgres use:
# POSTGRESQL_HOST=localhost
